{{recipe.desc}}

## Size
{{ recipe.size }}

## Ingredients

{{#each recipe.parts}}
### {{title}}

  {{#each ingredients}}
- {{quantity}}{{unit}} {{name}}
  {{/each}}

{{/each}}

## Steps

{{#each recipe.parts}}
### {{title}}

  {{#each steps}}
{{add @index 1}}. {{line}}
  {{/each}}

{{/each}}

## Images

{{#each recipe.images}}
![image-{{_id}}]({{imageUrl}})
{{/each}}
